@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: white;
}

p {
    display: block;
    float: left;
    margin: 20px;
    margin-top: 24px;
    min-width: 335px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: black;
}
input {
    padding-left: 2px;
    display: block;
    float: rigth;
    margin: 20px;
    margin-top: 0;
    min-width: 280px;
    width: calc(100% - 416px);
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-color: gray;
    border-radius: 1px;
}
button {
    display: block;
    float: right;
    margin: 0 auto;
    margin-right: 35px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
}
button:hover {
    color: white;
    background-color: black;
}


@media (max-width: 772px) {
input {
    float: left;
    width: calc(100% - 45px);
}
button {
    margin-right: 20px;
}
}