@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(60, 60, 60, 0.95);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    z-index: 1;
}
.hdr_s-btm {
    width: 100%;
    height: 60px;
}

.logo {
    height: 60px;
    align-items: center;
}
.logo-img {
    margin: 2px;
    margin-left: 35px;
    float: left;
    width: 56px;
    height: 56px;
}
.logo-text {
    margin-top: 10px;
    height: 38px;
    float: right;
    text-decoration: none;
    font-size: 30px;
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.hdr-nav {
    margin: 0 auto;
    margin-left: 50px;
    height: 60px;
}
.hdr-nav ul {
    list-style-type: none;
    overflow: hidden;
}
.hdr-nav li {
    margin-top: 20px;
    margin-right: 15px;
    float: left;
}
.hdr-nav a {
    display: block;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.hdr-nav a:hover {
    color: black;
}

.hdr-right {
    margin: 0 auto;
    margin-right: 35px;
}
.tel {
    min-width: 152px;
    display: block;
    margin: 0 auto;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: green;
}
.tel:hover {
    color: greenyellow;
}
.tel>img {
    margin-right: 5px;
    height: 12px;
}
.vk {
    min-width: 167px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: rgb(160, 160, 255);
}
.vk:hover {
    color: white;
}
.vk>img {
    margin-right: 5px;
    height: 12px;
}

section {
    width: 100%;
    overflow: hidden;
}
.head {
    width: 100%;
    height: 300px;
}
.h-head {
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
.p-head {
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.story {
    width: 100%;
    height: 700px;
}
.story-left {
    width: 50%;
    height: 700px;
    float: left;
    background-color: rgb(230, 230, 230);
}
.story-left h1 {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.story-left h2 {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.story-blog-p {
    margin-left: 15%;
    margin-right: 15%;
}
.story-blog-p p {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.story-right {
    width: 50%;
    height: 700px;
    float: right;
    background-color: rgb(245, 244, 233);
}
.story-right img {
    margin: 0 auto;
    height: 100%;
}

.main-content {
    position: relative;
    padding: 35px;
    width: calc(100% - 70px);
    background-color: black;
}
.blogs {
    background-color: white;
}
.blog {
    padding: 35px;
    width: 100%;
}
.h-text {
    position: relative;
    margin: 35px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.p-text {
    position: relative;
    margin-bottom: 35px;
    width: calc(100% - 70px);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.a-link {
    position: relative;
    width: calc(100% - 70px);
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.a-link:hover {
    color: violet;
}
.icn-info {
    width: 40px;
    height: 40px;
}
.schedule {
    min-width: 400px;
    width: 100%;
    background-color: white;
    align-items: center;
}
.schedule h1 {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 35px;
}
.schedule h2 {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
}
.schedule h3 {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
}
.schedule p {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
}

.faq {
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.icn-info {
    margin: 30px;
    margin-right: auto;
    width: 40px;
    height: 40px;
}
.faq h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.faq-left h2,
.faq-right h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.faq-list {
    width: 100%;
}
.list-h3 {
    margin: 40px;
    margin-top: 0;
    color: white;
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.faq-left p,
.faq-right p {
    margin: 30px;
    margin-top: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.faq-left {
    width: 50%;
    float: left;
}
.faq-right {
    width: 50%;
    float: right;
}

.map-block {
    width: 100%;
    height: 555px;
}
.map-block p {
    position: relative;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 0;
    width: 100%;
    min-width: 450px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.map {
    position: relative;
    margin: 35px;
    width: calc(100% - 70px);
    height: 450px;
    background-color: black;
    border: 1px solid black;
}
.feedback {
    width: 100%;
    height: 700px;
}
.feedback-left {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(212, 129, 118);
    align-items: center;
}
.feedback-left img {
    margin: 0 auto;
    height: 100%;
}
.feedback-right {
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgb(230, 230, 230);
}
.p-feedback {
    margin-top: 240px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.form-feedback {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.inputs {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.p-form {
    display: block;
    float: left;
    margin: 5px;
    margin-left: 15px;
    min-width: 85px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: rgb(5, 5, 65);
}
.input-form {
    position: relative;
    padding-left: 2px;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 185px;
    width: calc(100% - 30px);
    max-width: 300px;
    height: 25px;
    display: flex;
    display: -webkit-flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-color: gray;
    border-radius: 1px;
}
.btn-form {
    display: block;
    float: right;
    margin: auto;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
}
.btn-form:hover {
    color: white;
    background-color: black;
}

footer {
    width: 100%;
    height: 308px;
    background-color: rgb(50, 50, 50);
}
.ftr-left {
    display: block;
    float: left;
    min-width: 172px;
    width: 25%;
    background-color: rgb(50, 50, 50);
}
.ftr-right {
    display: block;
    float: right;
    min-width: 533px;
    width: 75%;
    height: 308px;
    background-color: rgb(50, 50, 50);
}

.ftr-nav {
    margin: 50px;
    height: 60px;
}
.ftr-nav ul {
    list-style-type: none;
    overflow: hidden;
}
.ftr-nav li {
    margin: 8px;
}
.ftr-nav a {
    display: block;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.ftr-nav a:hover {
    color: black;
}

.ftr-mailing {
    margin: 35px;
    margin-left: auto;
    width: 90%;
    max-width: 900px;
    height: 168px;
    background-color: grey;
}
.ftr-mailing iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.ftr-admin {
    margin: 0 auto;
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    width: 170px;
}
.ftr-admin p {
    width: 180px;
    display: block;
    float: left;
    margin: 0 auto;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: white; 
}
.ftr-admin a {
    width: 165px;
}
.email {
    width: 165px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: blue;
}
.email:hover {
    color: cyan;
}
.email>img {
    margin-right: 5px;
    height: 12px;
}



@media (max-width: 960px) {
.form-feedback {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
}


@media (max-width: 900px) {
.story {
    height: 850px;
}
.story-left {
    height: 850px;
}
.story-right {
    height: 850px;
}
}


@media (max-width: 797px) {
.hdr_s-btm {
    height: 120px;
}
header {
    height: 120px;
}
.logo {
    height: 120px;
}
.logo-img {
    position: absolute;
    margin: 2px;
    margin-left: 75px;
    margin-top: 15px;
    float: left;
}
.logo-text {
    position: absolute;
    margin: 0;
    margin-left: 35px;
    margin-top: 60px;
    float: left;
}
.hdr-nav {
    margin-left: 250px;
}
.hdr-nav li {
    margin-top: 6px;
}
}


@media (max-width: 725px) {
.story {
    height: 800px;
}
.story-left {
    width: 100%;
    height: 800px;
}
.story-right {
    display: none;
}

footer {
    overflow: hidden;
    height: 335px;
}
.ftr-left {
    width: 100%;
    height: 60px;
}
.ftr-right {
    float: left;
    min-width: 533px;
    width: 100%;
    height: 335px;
}

.ftr-nav {
    margin: 0 auto;
    height: 60px;
    width: 298px;
}
.ftr-nav li {
    margin-top: 20px;
    margin-right: 15px;
    float: left;
}

.ftr-mailing {
    margin-top: 0;
    margin-right: auto;
}
}


@media (max-width: 592px) {
.hdr_s-btm {
    height: 180px;
}
header {
    height: 180px;
}
.logo {
    height: 180px;
}
.logo-img {
    position: absolute;
    margin: 2px;
    margin-left: 95px;
    margin-top: 35px;
    float: left;
}
.logo-text {
    position: absolute;
    margin: 0;
    margin-left: 35px;
    margin-top: 105px;
    float: left;
}
.hdr-nav {
    margin-left: 255px;
}
.hdr-nav li {
    margin-top: 0;
}

.feedback-left {
    width: 40%;
}
.feedback-right {
    width: 60%;
}
}