.blog-contacts {
    position: relative;
    padding: 35px;
    width: calc(100% - 70px);
}
.blog-contacts h1 {
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.blog-contacts h2 {
    margin-bottom: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.blog-contacts p {
    margin-bottom: 35px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.blog-contacts-img {
    margin-bottom: 30px;
    width: 100%;
    height: 500px;
    align-items: center;
    overflow: hidden;
}
.blog-contacts-img img {
    margin: 0 auto;
    margin-left: calc(50% - 467px);
    height: 100%;
}